/* Primary color : #673AB7
background color : #F1F1F1
forefround color : #FFFFFF
hover color : #F5F5F5
color texzt  : #EFEAF7 */

:root{
  --primary-color : #a7c7cb;
  --bakground-color : #dbe1e3;
  --panel-color : #d8e4e9;
  --prm-clr : #32AEB1;
  --shade-clr : 	#c0cbcd;
  --plate-clr :#34B8BE;
  --lg-palete-clr : #E7F8FB;

  --bc-color: #1A1B1D;
  --tx-color : #FFFFFF;
}

.pointer{
  cursor: pointer;
}
.primary-clr{
  background-color: var(--prm-clr);
  color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

html,
body { 
  overflow-x: hidden;
}


 
 

.hero-text{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
}
.hero-subheading {
  max-width: 620px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
}
.lp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  color: var(--tx-color);
}
.lp-nav{
 display: flex;
height: 60px;
align-items: center;
justify-content: space-between;
background-color: var(--bc-color);
/* border-bottom: 0.5px solid #dbe1e3; */
box-shadow: 0 1px 8px rgba(255, 253, 253, 0.2);
padding: 20px;
}
.nav-branding{
  padding: 20px;
  font-size: 24px;
  font-weight: 900;
}
.prj-btn{
  color: var(--tx-color);
  margin: 20px;
}
.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh - 60px);
  /* min-height: 70dvh; */
  padding: 50px;
  background-color: var(--bc-color);

}
.hero{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
}
.hero-sub{
  max-width: 620px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;

}
.search-section{
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: var(--bc-color);
}
.search{
  height: 50px;
  color: white;
  background-color: gray;  
  background-size: 28px;
  border: 1px #000;
  border-right: 1px solid rgba(255, 255, 255, .2);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-left: 60px;
  font-size: 16px; 
  width: 100%;
}
.search{
  outline: none;
}
 
.search::placeholder {
    color: white;
  
}

.search-icon{
  height: 50px;
  width: 50px;
  background: gray;
  padding: 7px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.search-btn{
  display: flex;
  background-color: gray;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px   ;
}
.search-btn:hover{
  cursor: pointer;
  outline: gray;
}
.editor-section{ 
  color: black; 
  padding: 50px;
}
.editor{
  height: 400px;
}

.login-container{
  transition: 5s ease-in;
  position: relative;
  height: 100dvh;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 background-image: url("../public/bg277.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 filter: blur(5px);
 
}
.inputs{
 position: absolute; 
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 300px;
 color: whitesmoke; 
 animation: slideIn .5s ease-in;

}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


.controls{
  width: 100%;
  padding: 8px;
  outline: none; 
  border: none;
  background:none;
  border-bottom: 2px solid #c2c4c3;
  transition: 5s ease;
  color: white;
}
.input-controls{
  padding: 10px;
}
.sbt-btn{
  width: 100%;
  padding: 8px;
  border-radius: 18px;
  margin-top: 10px;;
}